[View in Colaboratory](https://colab.research.google.com/github/contractorwolf/tensorflow-irisdataset/blob/master/Iris2.ipynb)

In [1]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving iris.csv to iris (1).csv
User uploaded file "iris.csv" with length 5107 bytes

In [1]:
import pandas as pd
import tensorflow as tf


# ML libraries 
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score



# verify version of tensorflow, should be 1.4+ to use new Estimators features
print('TENSORFLOW VERSION: ' + tf.__version__)

TENSORFLOW VERSION: 1.7.0

In [0]:
SPECIES = ['Setosa', 'Versicolor', 'Virginica']

BATCH_SIZE = 50

TRAIN_STEPS = 500

# define local file for training data with features and labels
csv_file = 'iris.csv'

In [3]:
# get full dataset from local CSV file
df = pd.read_csv(csv_file)
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [0]:
# drop unnecessary 'Id' column from the dataset, doesnt help predict the label
df.drop('Id', inplace=True, axis=1)

In [5]:
# ALWAYS randomize sample
df = df.sample(frac=1).reset_index(drop=True)
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
0            5.5           2.4            3.7           1.0  Iris-versicolor
1            6.2           3.4            5.4           2.3   Iris-virginica
2            5.6           2.9            3.6           1.3  Iris-versicolor
3            6.1           3.0            4.6           1.4  Iris-versicolor
4            5.8           2.6            4.0           1.2  Iris-versicolor

In [6]:
# label encode the string label: Species
# it should be a numeric value, instead of a string value
# to do: use one-hot encoder instead of label encoder
le = LabelEncoder()
df.Species = le.fit_transform(df.Species)

# show the cleaned dataset
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            5.5           2.4            3.7           1.0        1
1            6.2           3.4            5.4           2.3        2
2            5.6           2.9            3.6           1.3        1
3            6.1           3.0            4.6           1.4        1
4            5.8           2.6            4.0           1.2        1

In [7]:
# set just the label column to y for the train_test_split()
data_label = df.Species
data_label.head()

0    1
1    2
2    1
3    1
4    1
Name: Species, dtype: int64

In [8]:
# remove the species column so that you can scale the rest of the values
# the values are already stored in y variable
# *** convert this to X values here, for clarity?
data_features = df.drop('Species', inplace=False, axis=1)
data_features.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.5           2.4            3.7           1.0
1            6.2           3.4            5.4           2.3
2            5.6           2.9            3.6           1.3
3            6.1           3.0            4.6           1.4
4            5.8           2.6            4.0           1.2

In [72]:
# DO NOT USE, BREAKS Classifier prob because of the number size? 


# scale data for better results
# so that columns with larger values dont get weighed more
# example: age change of 40 years (significant) vs income change of $40 (not significant)

sc = StandardScaler(copy=True, with_mean=True, with_std=True)
data_features = pd.DataFrame(sc.fit_transform(data_features), columns=[data_features.columns], index=data_features.index)

# show scaled X values 
data_features.head() 
# THIS IS A DATAFRAME

  SepalLengthCm SepalWidthCm PetalLengthCm PetalWidthCm
0     -1.143017    -0.124958     -1.341272    -1.312977
1     -0.052506     2.189072     -1.455004    -1.312977
2     -0.537178     0.800654     -1.284407    -1.050031
3      2.128516    -0.124958      1.615744     1.185010
4      0.674501    -0.819166      0.876490     0.922064

In [17]:
data_features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
SepalLengthCm    150 non-null float64
SepalWidthCm     150 non-null float64
PetalLengthCm    150 non-null float64
PetalWidthCm     150 non-null float64
dtypes: float64(4)
memory usage: 4.8 KB

In [0]:
# do a 70/30 split of the data into a train_x and train_y (70% for training) 
# and a test_x and test_y (30% for validation) 
# X is a DATAFRAME of scaled features
# y is a SERIES of labels
train_x2, test_x2, train_y2, test_y2 = train_test_split(data_features, data_label, test_size=0.30, random_state=42)

In [0]:
# Feature columns describe how to use the input.
# you need to define the name and type for each column of your training data
my_feature_columns2 = []

# numeric coulmn
my_feature_columns2.append(tf.feature_column.numeric_column(key='SepalLengthCm'));
my_feature_columns2.append(tf.feature_column.numeric_column(key='SepalWidthCm'));
my_feature_columns2.append(tf.feature_column.numeric_column(key='PetalLengthCm'));
my_feature_columns2.append(tf.feature_column.numeric_column(key='PetalWidthCm'));   

# other column types
# hashed strings or categorical features
# example:
# state = tf.feature_column.categorical_column_with_hash_bucket('state',100) 
# pick the right size for your data

In [0]:


def train_input_fn(features, labels, batch_size):
    # Convert the inputs to a Dataset.
    
    print(features)
    dataset = tf.data.Dataset.from_tensor_slices((dict(features), labels))

    # Shuffle, repeat, and batch the examples.
    dataset = dataset.shuffle(1000).repeat().batch(batch_size)

    # Return the dataset.
    return dataset


def eval_input_fn(features, labels, batch_size):
    # An input function for evaluation or prediction
    features=dict(features)
    if labels is None:
        # No labels, use only features.
        inputs = features
    else:
        inputs = (features, labels)

    # Convert the inputs to a Dataset.
    dataset = tf.data.Dataset.from_tensor_slices(inputs)

    # Batch the examples
    assert batch_size is not None, "batch_size must not be None"
    dataset = dataset.batch(batch_size)

    # Return the dataset.
    return dataset

In [13]:
# Build 2 hidden layer DNN with 10, 10 units respectively.
classifier2 = tf.estimator.DNNClassifier(
    feature_columns=my_feature_columns2,
    # Two hidden layers of 10 nodes each.
    hidden_units=[10, 10],
    # The model must choose between 3 classes.
    n_classes=3)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmp4c_2n_uf
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmp4c_2n_uf', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7f36746e2128>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [14]:
# Train the Model.
classifier2.train(input_fn=lambda:train_input_fn(train_x2, train_y2, BATCH_SIZE), steps=TRAIN_STEPS)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
81             7.9           3.8            6.4           2.0
133            6.3           2.3            4.4           1.3
137            6.5           3.0            5.8           2.2
75             7.3           2.9            6.3           1.8
109            6.4           2.8            5.6           2.1
96             7.6           3.0            6.6           2.1
105            5.2           4.1            1.5           0.1
66             4.7           3.2            1.3           0.2
0              5.5           2.4            3.7           1.0
122            5.9           3.2            4.8           1.8
67             5.5           3.5            1.3           0.2
28             6.2           2.9            4.3           1.3
40             6.1           2.8            4.7           1.2
44             5.9           3.0            4.2           1.5
60             5.1           3.8            1.6           0.2
123            6.7           3.0            5.0           1.7
24             5.5           4.2            1.4           0.2
25             5.0           2.0            3.5           1.0
23             6.8           2.8            4.8           1.4
94             6.0           3.0            4.8           1.8
39             5.0           3.5            1.3           0.3
95             5.7           2.5            5.0           2.0
117            4.8           3.4            1.9           0.2
47             4.6           3.1            1.5           0.2
97             6.0           2.7            5.1           1.6
113            6.3           2.9            5.6           1.8
33             5.1           3.8            1.5           0.3
138            5.5           2.5            4.0           1.3
101            6.5           3.2            5.1           2.0
62             6.4           2.8            5.6           2.2
..             ...           ...            ...           ...
91             5.5           2.6            4.4           1.2
41             5.1           3.4            1.5           0.2
58             6.4           2.9            4.3           1.3
90             7.1           3.0            5.9           2.1
48             5.7           2.9            4.2           1.3
88             4.8           3.0            1.4           0.1
107            5.7           2.8            4.5           1.3
124            5.2           2.7            3.9           1.4
21             5.8           2.7            5.1           1.9
57             6.5           3.0            5.5           1.8
144            6.0           3.4            4.5           1.6
129            5.0           2.3            3.3           1.0
37             7.4           2.8            6.1           1.9
140            5.6           3.0            4.5           1.5
1              6.2           3.4            5.4           2.3
52             5.9           3.0            5.1           1.8
130            6.6           3.0            4.4           1.4
103            6.3           3.4            5.6           2.4
99             5.4           3.9            1.3           0.4
116            5.0           3.6            1.4           0.2
87             6.0           2.2            4.0           1.0
74             4.9           3.0            1.4           0.2
121            6.1           2.8            4.0           1.3
149            5.1           3.5            1.4           0.2
20             5.4           3.4            1.5           0.4
71             6.7           3.3            5.7           2.5
106            5.1           3.5            1.4           0.3
14             4.9           3.1            1.5           0.1
92             6.7           3.0            5.2           2.3
102            5.2           3.5            1.5           0.2

[105 rows x 4 columns]
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmp4c_2n_uf/model.ckpt.
INFO:tensorflow:loss = 64.987335, step = 1
INFO:tensorflow:global_step/sec: 658.338
INFO:tensorflow:loss = 8.849779, step = 101 (0.157 sec)
INFO:tensorflow:global_step/sec: 833.551
INFO:tensorflow:loss = 6.6919007, step = 201 (0.117 sec)
INFO:tensorflow:global_step/sec: 859.161
INFO:tensorflow:loss = 6.918604, step = 301 (0.116 sec)
INFO:tensorflow:global_step/sec: 892.5
INFO:tensorflow:loss = 2.7820792, step = 401 (0.112 sec)
INFO:tensorflow:Saving checkpoints for 500 into /tmp/tmp4c_2n_uf/model.ckpt.
INFO:tensorflow:Loss for final step: 5.333002.

In [15]:
# Evaluate the model.
eval_result2 = classifier2.evaluate(input_fn=lambda:eval_input_fn(test_x2, test_y2, BATCH_SIZE))

print('\nTest set accuracy: {accuracy:0.3f}\n'.format(**eval_result2))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2018-05-19-04:51:07
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmp4c_2n_uf/model.ckpt-500
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Finished evaluation at 2018-05-19-04:51:07
INFO:tensorflow:Saving dict for global step 500: accuracy = 0.9777778, average_loss = 0.049014658, global_step = 500, loss = 2.2056596

Test set accuracy: 0.978

In [16]:

# Generate predictions from the model
expected = ['Setosa', 'Versicolor', 'Virginica']

predict_x = {
    'SepalLengthCm': [5.1, 5.9, 6.9],
    'SepalWidthCm' : [3.3, 3.0, 3.1],
    'PetalLengthCm': [1.7, 4.2, 5.4],
    'PetalWidthCm' : [0.5, 1.5, 2.1],
}

predictions = classifier2.predict(input_fn=lambda:eval_input_fn(predict_x, labels=None, batch_size=BATCH_SIZE))

template = ('\nPrediction is "{}" ({:.1f}%), expected "{}"')

for pred_dict, expec in zip(predictions, expected):
    class_id = pred_dict['class_ids'][0]
    probability = pred_dict['probabilities'][class_id]

    print(template.format(SPECIES[class_id], 100 * probability, expec))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmp4c_2n_uf/model.ckpt-500
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

Prediction is "Setosa" (99.8%), expected "Setosa"

Prediction is "Versicolor" (96.8%), expected "Versicolor"

Prediction is "Virginica" (93.2%), expected "Virginica"