[View in Colaboratory](https://colab.research.google.com/github/contractorwolf/tensorflow-irisdataset/blob/master/Iris2.ipynb)

In [1]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving iris.csv to iris (1).csv
User uploaded file "iris.csv" with length 5107 bytes

In [19]:
import pandas as pd
import tensorflow as tf


# ML libraries 
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score



# verify version of tensorflow, should be 1.4+ to use new Estimators features
print('TENSORFLOW VERSION: ' + tf.__version__)

TENSORFLOW VERSION: 1.7.0

In [0]:
# THIS SHOULD BE ONE FILE NOT TWO *********************
TRAIN_URL = "http://download.tensorflow.org/data/iris_training.csv"
TEST_URL  = "http://download.tensorflow.org/data/iris_test.csv"

CSV_COLUMN_NAMES = ['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Species']

SPECIES = ['Setosa', 'Versicolor', 'Virginica']


BATCH_SIZE = 50
TRAIN_STEPS = 500


# REMOVE ALL CSV PARSING *********************

# The remainder of this file contains a simple example of a csv parser,
#     implemented using the `Dataset` class.

# `tf.parse_csv` sets the types of the outputs to match the examples given in
#     the `record_defaults` argument.
CSV_TYPES = [[0.0], [0.0], [0.0], [0.0], [0]]

# define local file for training data with features and labels
csv_file = 'iris.csv'

#args.batch_size), steps=args.train_steps

In [21]:
# get full dataset from local CSV file
df = pd.read_csv(csv_file)
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [0]:
# drop unnecessary 'Id' column from the dataset, doesnt help predict the label
df.drop('Id', inplace=True, axis=1)

In [23]:
# ALWAYS randomize sample
df = df.sample(frac=1).reset_index(drop=True)
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
0            6.0           2.2            5.0           1.5   Iris-virginica
1            5.1           3.3            1.7           0.5      Iris-setosa
2            4.4           3.0            1.3           0.2      Iris-setosa
3            5.5           2.5            4.0           1.3  Iris-versicolor
4            7.3           2.9            6.3           1.8   Iris-virginica

In [24]:
# label encode the string label: Species
# it should be a numeric value, instead of a string value
# to do: use one-hot encoder instead of label encoder
le = LabelEncoder()
df.Species = le.fit_transform(df.Species)

# show the cleaned dataset
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            6.0           2.2            5.0           1.5        2
1            5.1           3.3            1.7           0.5        0
2            4.4           3.0            1.3           0.2        0
3            5.5           2.5            4.0           1.3        1
4            7.3           2.9            6.3           1.8        2

In [25]:
# set just the label column to y for the train_test_split()
data_label = df.Species
data_label.head()

0    2
1    0
2    0
3    1
4    2
Name: Species, dtype: int64

In [26]:
# remove the species column so that you can scale the rest of the values
# the values are already stored in y variable
# *** convert this to X values here, for clarity?
data_features = df.drop('Species', inplace=False, axis=1)
data_features.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            6.0           2.2            5.0           1.5
1            5.1           3.3            1.7           0.5
2            4.4           3.0            1.3           0.2
3            5.5           2.5            4.0           1.3
4            7.3           2.9            6.3           1.8

In [0]:
# do a 70/30 split of the data into a train_x and train_y (70% for training) 
# and a test_x and test_y (30% for validation) 
# X is a DATAFRAME of scaled features
# y is a SERIES of labels
train_x2, test_x2, train_y2, test_y2 = train_test_split(data_features, data_label, test_size=0.30, random_state=42)

In [0]:
# Feature columns describe how to use the input.
# you need to define the name and type for each column of your training data
my_feature_columns2 = []

# numeric coulmns



#added indicator column
my_feature_columns2.append(tf.feature_column.numeric_column(key='SepalLengthCm'));
my_feature_columns2.append(tf.feature_column.numeric_column(key='SepalWidthCm'));
my_feature_columns2.append(tf.feature_column.numeric_column(key='PetalLengthCm'));
my_feature_columns2.append(tf.feature_column.numeric_column(key='PetalWidthCm'));   

# other column types
# hashed strings or categorical features
# example:
# state = tf.feature_column.categorical_column_with_hash_bucket('state',100) 
# pick the right size for your data

In [0]:


def train_input_fn(features, labels, batch_size):
    """An input function for training"""
    # Convert the inputs to a Dataset.
    
    print(features)
    dataset = tf.data.Dataset.from_tensor_slices((dict(features), labels))

    # Shuffle, repeat, and batch the examples.
    dataset = dataset.shuffle(1000).repeat().batch(batch_size)

    # Return the dataset.
    return dataset


def eval_input_fn(features, labels, batch_size):
    """An input function for evaluation or prediction"""
    features=dict(features)
    if labels is None:
        # No labels, use only features.
        inputs = features
    else:
        inputs = (features, labels)

    # Convert the inputs to a Dataset.
    dataset = tf.data.Dataset.from_tensor_slices(inputs)

    # Batch the examples
    assert batch_size is not None, "batch_size must not be None"
    dataset = dataset.batch(batch_size)

    # Return the dataset.
    return dataset

In [30]:
# Build 2 hidden layer DNN with 10, 10 units respectively.
classifier2 = tf.estimator.DNNClassifier(
    feature_columns=my_feature_columns2,
    # Two hidden layers of 10 nodes each.
    hidden_units=[10, 10],
    # The model must choose between 3 classes.
    n_classes=3)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpjr1m_rwe
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmpjr1m_rwe', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': None, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7f039de910f0>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [31]:
# Train the Model.
classifier2.train(input_fn=lambda:train_input_fn(train_x2, train_y2, BATCH_SIZE), steps=TRAIN_STEPS)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
81             6.4           3.2            4.5           1.5
133            7.2           3.0            5.8           1.6
137            5.5           2.6            4.4           1.2
75             4.8           3.4            1.6           0.2
109            4.8           3.0            1.4           0.3
96             5.1           3.7            1.5           0.4
105            5.8           2.7            3.9           1.2
66             5.8           2.7            4.1           1.0
0              6.0           2.2            5.0           1.5
122            5.2           2.7            3.9           1.4
67             5.2           3.5            1.5           0.2
28             6.9           3.1            5.4           2.1
40             5.4           3.4            1.7           0.2
44             6.1           2.8            4.0           1.3
60             7.7           2.6            6.9           2.3
123            5.1           3.4            1.5           0.2
24             5.1           3.5            1.4           0.2
25             6.2           2.2            4.5           1.5
23             5.4           3.0            4.5           1.5
94             4.6           3.6            1.0           0.2
39             6.5           3.0            5.2           2.0
95             5.5           4.2            1.4           0.2
117            5.1           3.8            1.9           0.4
47             4.9           2.4            3.3           1.0
97             6.6           3.0            4.4           1.4
113            6.7           3.1            4.7           1.5
33             7.9           3.8            6.4           2.0
138            5.4           3.7            1.5           0.2
101            6.4           2.9            4.3           1.3
62             6.7           3.1            5.6           2.4
..             ...           ...            ...           ...
91             5.0           2.0            3.5           1.0
41             4.6           3.2            1.4           0.2
58             6.4           2.8            5.6           2.1
90             5.4           3.9            1.7           0.4
48             6.3           3.3            6.0           2.5
88             5.8           2.7            5.1           1.9
107            6.5           3.0            5.8           2.2
124            6.4           3.1            5.5           1.8
21             6.0           2.7            5.1           1.6
57             5.8           4.0            1.2           0.2
144            6.4           2.7            5.3           1.9
129            6.5           2.8            4.6           1.5
37             6.7           2.5            5.8           1.8
140            6.2           3.4            5.4           2.3
1              5.1           3.3            1.7           0.5
52             5.7           3.0            4.2           1.2
130            6.9           3.2            5.7           2.3
103            6.8           2.8            4.8           1.4
99             5.0           3.6            1.4           0.2
116            6.7           3.0            5.0           1.7
87             4.8           3.1            1.6           0.2
74             6.7           3.1            4.4           1.4
121            6.1           3.0            4.9           1.8
149            6.3           2.8            5.1           1.5
20             6.4           2.8            5.6           2.2
71             5.7           2.6            3.5           1.0
106            4.3           3.0            1.1           0.1
14             4.9           3.1            1.5           0.1
92             5.6           3.0            4.5           1.5
102            6.8           3.0            5.5           2.1

[105 rows x 4 columns]
INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmpjr1m_rwe/model.ckpt.
INFO:tensorflow:loss = 54.530716, step = 1
INFO:tensorflow:global_step/sec: 634.182
INFO:tensorflow:loss = 10.512533, step = 101 (0.163 sec)
INFO:tensorflow:global_step/sec: 906.428
INFO:tensorflow:loss = 6.809877, step = 201 (0.110 sec)
INFO:tensorflow:global_step/sec: 976.707
INFO:tensorflow:loss = 6.432966, step = 301 (0.102 sec)
INFO:tensorflow:global_step/sec: 951.519
INFO:tensorflow:loss = 5.9497404, step = 401 (0.104 sec)
INFO:tensorflow:Saving checkpoints for 500 into /tmp/tmpjr1m_rwe/model.ckpt.
INFO:tensorflow:Loss for final step: 4.7012634.

In [32]:
# Evaluate the model.
eval_result2 = classifier2.evaluate(input_fn=lambda:eval_input_fn(test_x2, test_y2, BATCH_SIZE))

print('\nTest set accuracy: {accuracy:0.3f}\n'.format(**eval_result2))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Starting evaluation at 2018-05-19-04:26:42
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmpjr1m_rwe/model.ckpt-500
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.
INFO:tensorflow:Finished evaluation at 2018-05-19-04:26:42
INFO:tensorflow:Saving dict for global step 500: accuracy = 0.9777778, average_loss = 0.0533011, global_step = 500, loss = 2.3985496

Test set accuracy: 0.978

In [33]:

# Generate predictions from the model
expected = ['Setosa', 'Versicolor', 'Virginica']

predict_x = {
    'SepalLengthCm': [5.1, 5.9, 6.9],
    'SepalWidthCm' : [3.3, 3.0, 3.1],
    'PetalLengthCm': [1.7, 4.2, 5.4],
    'PetalWidthCm' : [0.5, 1.5, 2.1],
}

predictions = classifier2.predict(input_fn=lambda:eval_input_fn(predict_x, labels=None, batch_size=BATCH_SIZE))

template = ('\nPrediction is "{}" ({:.1f}%), expected "{}"')

for pred_dict, expec in zip(predictions, expected):
    class_id = pred_dict['class_ids'][0]
    probability = pred_dict['probabilities'][class_id]

    print(template.format(SPECIES[class_id], 100 * probability, expec))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmpjr1m_rwe/model.ckpt-500
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

Prediction is "Setosa" (99.8%), expected "Setosa"

Prediction is "Versicolor" (98.5%), expected "Versicolor"

Prediction is "Virginica" (84.1%), expected "Virginica"